.header-for-nomnow{
    color: white;
    display: flex;
   justify-content: space-between;
   background-color: rgb(195, 183, 190);
   align-items: center;
   padding: 10px;
   border: 1px antiquewhite;
   height: 90px;
}
.header-for-nomnow:hover{
    cursor: pointer;
}
.logo{
    width: 100px;
    height: 100px;
}
.nav-items > ul {
    display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 18px;
   
}
.nav-items> ul> li{
    margin-right: 20px;
    color: black;
    
}

.restro-card{
    padding: 5px;
   margin: 10px;
   width: 250px;
   height: 370px;
   border-radius: 15px; /* soften corners*/
   transition: transform 0.2s ease; /*transition*/
   background-color: honeydew;
   font-family: 14px inter san serif;
   font-weight: small;
   color: rgb(43, 10, 10);
  
  
}
.restro-card:hover{
    border: 1px solid black;
    cursor: pointer;
    transform: translateY(-7px); /*slight lift on hover*/
}

.search{
    padding: 10px;
}

.img{
   height: 35%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}
.body-for-nomnow{
    background-color: rgb(243, 235, 238);
    padding-top: 20px;
}
.restro-container{
    display: flex;
    flex-wrap: wrap ;
    padding-left: 10px;
}
.filter btn{
    margin: 10px;
    cursor: pointer;

}
.signin-header:hover{
    cursor: pointer;
}
.filter-btn{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 12px;  
  
}
.filter{
    display: :flex;
    margin-bottom: 20px;
    margin-right: 16px;
}
.both-func{
    display: flex;
}
